@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Inter:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans', sans-serif;
  color: #282626;
  background: white;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .first-row:nth-child(-n+2) {
    @apply p-[40px] pb-[25px] col-span-3 min-h-[262px] [&>p]:text-xl [&>p]:leading-[30px]
  }
}